@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

// fonts

$karla: 'Karla', sans-serif;
$regular: 400;
$bold: 700;

// colors

$cyan: hsl(179, 62%, 43%);
$bright-yellow: hsl(71, 73%, 54%);
$light-gray: hsl(204, 43%, 93%);
$grayish-blue: hsl(218, 22%, 67%);
$light-cyan: hsl(179, 47%, 52%);
$white: hsl(0, 0%, 100%);

//mixins

@mixin responsive($min-width, $max-width) {
  @media screen and (min-width: #{$min-width}px) and (max-width: #{$max-width}px) {
    @content;
  }
}

// colors and typography

.white {
  background-color: $white;
}

.txt-white {
  color: $white;
}

.cyan {
  background-color: $cyan;
}

.txt-cyan {
  color: $cyan;
}

.light-cyan {
  background-color: $light-cyan;
}

.yellow {
  background-color: $bright-yellow;
}

.txt-yellow {
  color: $bright-yellow;
}

.gray {
  background-color: $light-gray;
}

.txt-gray {
  color: $light-gray;
}

.blue {
  background-color: $grayish-blue;
}

.txt-blue {
  color: $grayish-blue;
}

.bold {
  font-weight: $bold;
}

.reg {
  font-weight: $regular;
}

//styles

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: $karla;
  background-color: $light-gray;
  display: grid;
  place-items: center;
  align-content: center;
  margin: 5em -1em;
}

section {
  max-width: 375px;
  width: 80%;
  padding: 2em 1em;
  box-shadow: 0 10px 32px -18px $grayish-blue;
}

.main {
  border-radius: 5px 5px 0 0;

  h3,
  p {
    margin-top: 1em;
  }
}

.sub,
.why-us {
  h5,
  p,
  button,
  ul {
    margin-top: 1em;
  }
}

.why-us {
  border-radius: 0 0 5px 5px;

  ul {
    line-height: 1e.25;
  }
  li {
    list-style: none;
  }
}

.sub {
  button {
    width: 100%;
    padding: 1em 1em;
    margin-top: 2em;
    margin-bottom: -0.9em;
    border-radius: 5px;
    border: none;
    box-shadow: 0 8px 32px -18px black;
  }
  h5 {
    font-size: 2em;

    span {
      font-size: 15px;
      position: absolute;
      margin: 0.6em 0 0 0.6em;
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  width: auto;

  a {
    color: hsl(228, 45%, 44%);
  }
}
